<!DOCTYPE html>

<html ng-app="gallery">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/module.js"></script>
    <link href="~/Content/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Header</h1>
    <hr />

    <div ng-view>Loading...</div>

    <hr />
    <h1>Footer</h1>
</body>
</html>
