.gallery_item {
    margin-top: 15px;
    margin-bottom: 15px;
}


.header {
    background-color: #f5f5f5;
}

.header .header-navbar-collapse {
    max-height: 100vh;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_copyright {
    margin: 15px 0px 0px 0px;
    font-size: 15px;
    color: #444;
}

.content {
    margin-top: 51px;
    padding-top: 10px;
    min-height: calc(100vh - 101px);
}

/*.stars {
    width: 270px;
    display: inline-block;
}*/

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 2px;
    font-size: 14px;
    color: #444;
}

label.star-lg {
    padding: 5px;
    font-size: 34px;
}

label.star-nofloat {
    float: none;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

label.star-checked {
    content: '\f005';
    color: #FD4;
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}